.list {
  list-style-type: none;
}

.flex-wrapper {
  display: flex;
}

.wrapper {
  max-width: 829px;
  gap: 12px;
  margin: 0 auto 80px;
}

.container {
  max-width: 630px;
  gap: 12px;
  margin-right: 80px;
}

.input {
  width: 377px;
}
